<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>My to do list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/toDoListStyle.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/client.js"></script>
    <!-- <script src="style_helpers/javascript.js"></script> -->
  </head>

  <body ng-controller="ToDoListController as toDoListCtrl">
    <div>
      <form class="form-horizontal" ng-submit="toDoListCtrl.addItem()">
        <input type="text" ng-model="toDoListCtrl.toDoText" name="inputbox" placeholder="What do you need to do?" size="45">
        <button class="btn" type="submit">Add item</button>
      </form>

      <ul class="">
        <li style="list-style-type: none" ng-repeat="item in toDoListCtrl.toDoList" id="{{item.done}}">
          <input type="checkbox" ng-model='item.done'>
          <span> {{item.text}} </span>
        </li>
      </ul>
   </div>
  </body>
</html>
